.button-defaults {
  font-size: 35px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.button-defaults:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s
}

.button-defaults:active {
  background: rgba(255, 255, 255, 0.1);
  border-style: none;
  transition: 0.1s
}

.display-hide {
  opacity: 0;
  z-index: -1;
}

.background-blur {
  filter: blur(5px);
  transition: 1.5s;
}

.board {
  position: relative;
  text-align: center;
  width: 700px;
  height: 800px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(189,195,199);
  background: radial-gradient(circle,
              rgba(180,185,185,1) 0%,
              rgba(44,62,80,0.5) 100%);
}

.setting-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  top: 15px;
  right: 15px;
}

.setting-button:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.setting-button:active {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.1s;
}

.setting-screen {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 350px;
  left: 100px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  transition: .3s;
}

.setting-screen div:first-child {
  margin-top: 60px;
  font-size: 35px;
  color: white;
}

.setting-screen button {
  width: 80px;
  height: 50px;
  margin: 65px 10px;
  font-size: 20px;
}

.setting-screen button[data-select="true"] {
  background: rgba(0, 0, 0, 0.1);

  border: 3px solid rgba(0, 0, 0, 0.2);
}

.game-title {
  position: absolute;
  width: 600px;
  height: 180px;
  top: 140px;
  left: 50px;
  border-radius: 10px;
  background: url("./images/game-title.png");
}

.start-button {
  position: absolute;
  top: 550px;
  left: 235px;
  width: 230px;
  height: 100px;
}

.game-board {
  display: fixed;
  position: relative;
  transition: .3s;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  top: 130px;
}

.game-score {
  position: absolute;
  width: 120px;
  height: 60px;
  top: 35px;
  left: 290px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 45px;
  line-height: 120%;
}

.card-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.card-container img {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-align: center;
  border-radius: 100px;
  backface-visibility: hidden;
  transition: 1s;
}

.back {
  position: absolute;
  transform: rotateY(0deg);
  background: rgba(255, 255, 255, 0.2);
}

.back:hover {
  background: rgba(255, 255, 255, 0.4);
}

.click-effect .back {
  transform: rotateY(-180deg);
}

.front {
  transform: rotateY(180deg);
}

.click-effect .front {
  transform: rotateY(0deg);
}

.game-results-screen {
  position: relative;
  display: inline-block;
  top: -240px;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.game-results {
  position: absolute;
  top: 100px;
  left: 75px;
  font-size: 40px;
  color: white;
}

.restart-button {
  position: relative;
  top: 250px;
  width: 200px;
  height: 70px;
  color: white;
}